{
    "system": {
        "name": "Mktsend",
        "url": "https://mkthub.com.br",
        "color": {
            "lightTheme": {
                "palette": {
                    "primary": "#F04405",
                    "secondary": "#0D0D0D"
                },
                "toolbar": {
                    "background": "linear-gradient(to right, #F04405, #F04405)"
                },
                "menuItens": "#ffffff",
                "sub": "#ffffff",
                "toolbarIcon": "#ffffff",
                "divide": "#E0E0E0"
            },
            "darkTheme": {
                "palette": {
                    "primary": "#F04405",
                    "secondary": "#ff9100",
                    "background": {
                        "default": "#080d14",
                        "paper": "#181d22"
                    },
                    "text": {
                        "primary": "#F2F0E4",
                        "secondary": "#F2F0E4"
                    }
                },
                "toolbar": {
                    "background": "linear-gradient(to right, #F04405, #F04405)"
                },
                "menuItens": "#181d22",
                "sub": "#181d22",
                "toolbarIcon": "#F04405",
                "divide": "#080d14"
            }
        }
    }
}